<header class="header">
  <div class="header-inner">
    <nav class="main-nav">
      <a class="logo" href="#">
        <img
          class="logo-pic"
          width="45"
          height="45"
          src="./assets/images/logo-lingo.svg"
          alt="Lingo">
      </a>
      <a class="language" href="#">
        Английский язык
      </a>
      <ul class="main-menu">
        <li>
          <a href="#">
            <svg class="menu-icon menu-icon--lessons" width="28" height="28">
              <use xlink:href="./assets/images/sprite.svg#i-papers"></use>
            </svg>
            Уроки
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="menu-icon menu-icon--teachers" width="36" height="36">
              <use xlink:href="./assets/images/sprite.svg#i-teacher"></use>
            </svg>
            Учителя
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="menu-icon menu-icon--classes" width="30" height="30">
              <use xlink:href="./assets/images/sprite.svg#i-board"></use>
            </svg>
            Классы
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="menu-icon menu-icon--game" width="35" height="20">
              <use xlink:href="./assets/images/sprite.svg#i-game"></use>
            </svg>
            Игра
          </a>
        </li>
      </ul>
    </nav>
    <div class="user-navigation">
      <a class="user-avatar" href="#">
        <img
          class="user-pic"
          width="50"
          height="50"
          src="./assets/images/user-pic.jpg"
          alt="user-name">
      </a>
      <ul class="user-options">
        <li class="user-item">
          <a class="user-link user-link--notifications" href="#">
            <span class="visually-hidden">Уведомления</span>
            <span class="user-badge">3</span>
          </a>
        </li>
        <li class="user-item">
          <a class="user-link user-link--messages" href="#">
            <span class="visually-hidden">Сообщения</span>
            <span class="user-badge">1</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
