<section class="lesson">
  <header class="lesson-header">
    <div class="author">
      <a class="author-image" href="#">
        <img
          width="40" height="40"
          [src]="'../assets/images/' + lesson.authorPic"
          [alt]="lesson.author">
      </a>
      <p class="author-info">
        <a class="author-name" href="#" lang="en">{{ lesson.author }}</a>
        <time class="date" [dateTime]="lesson.date" lang="en">
          3 days ago
        </time>
      </p>
    </div>
    <ul class="options">
      <li>
        <a class="option option--bookmark" href="#">
          <svg class="option-icon" width="20" height="24">
            <use xlink:href="../assets/images/sprite.svg#i-bookmark"></use>
          </svg>
          <span class="visually-hidden">В закладки</span>
        </a>
      </li>
      <li>
        <a class="option option--menu" href="#">
          <span class="visually-hidden">Меню</span>
        </a>
      </li>
    </ul>
  </header>
  <div class="introduction">
    <p class="lesson-pic">
      <img [src]="'../assets/images/' + lesson.pic" [alt]="lesson.title">
    </p>
    <div class="lesson-description">
      <div class="description-inner">
        <p class="lesson-type">Модуль</p>
        <h1 class="title">{{ lesson.title }}</h1>
        <p class="title-eng" lang="en">{{ lesson.titleEn }}</p>
        <p class="level" lang="en">{{ lesson.level }}</p>
      </div>
    </div>
  </div>
  <nav class="lesson-navigation">
    <ul class="tabs">
      <li><a class="tab" href="#">Об уроке</a></li>
      <li><a class="tab" href="#">Содержание</a></li>
      <li><a class="tab" href="#">Упражнения</a></li>
      <li><a class="tab">Выполнение урока</a></li>
    </ul>
  </nav>
  <div class="progress-bar">
    <span class="progress-indicator">
      <span class="visually-hidden">Выполнено уроков 1 из 10</span>
    </span>
  </div>
  <div class="task">
    <app-task-cards [task]="lesson.tasks[0]"></app-task-cards>
  </div>
  <form class="lesson-card">
    <h2>Заполните пропуск</h2>
    <p lang="en">
      {{ lesson.tasks[1].question }}
    </p>
    <ul class="pictures">
      <li *ngFor="let option of lesson.tasks[1].options">
        {{ option }}
      </li>
    </ul>
    <button class="button" type="submit">Проверить</button>
  </form>
</section>
