<form
  class="card"
  [ngClass]="{ 'card--completed': task.isCompleted }"
  (submit)="onTaskSubmit($event)">
  <h2 class="title">Заполните пропуск</h2>
  <p class="question" lang="en" [innerHTML]="question"></p>
  <ul class="options">
    <li class="option-item" *ngFor="let option of task.options; index as i">
      <input
        class="option visually-hidden"
        [id]="'option-' + i"
        (change)="onOptionChange($event)"
        [value]="option[0]"
        name="option"
        type="radio"
        [disabled]="task.isCompleted"
        required>
      <label class="option-text" [attr.for]="'option-' + i">{{ option }}</label>
    </li>
  </ul>
  <button *ngIf="!task.isCompleted" class="button" type="submit">Проверить</button>
</form>
